body
{
    font-size: 25px;
}
#tryAgain {

}
#btnexit {

}
#hdr {
    display: none;
}
#inputform {
    font-size: 25px;
}
#goodbye {
    display: none;
    font-size: 30px;
}
#page {
    text-align:center;
}
#errormsg {
 color: red;   
}